<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crear autor</title>
</head>
<body>
<form action="{% url 'autor_crear' %}" method="post">
  {% csrf_token %}

  {% for field in form %}
    {{ field.label_tag }}
    {% for error in field.errors %}
      <p>{{ error }}</p>
    {% endfor %}
    <p>{{ field }}</p>
  {% endfor %}

  <p>
    <button>Crear autor</button>
  </p>
</form>
</body>
</html>