<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar autor</title>
</head>
<body>
<h1>{{ autor.id }} - {{ autor.nombre_completo }}</h1>
<form action="{% url 'autor_editar' pk=autor.pk %}" method="post">
  {% csrf_token %}

  {% for field in form %}
    {{ field.label_tag }}
    {% for error in field.errors %}
      <p>{{ error }}</p>
    {% endfor %}
    <p>{{ field }}</p>
  {% endfor %}

  <p>
    <button>Editar autor</button>
  </p>
</form>
</body>
</html>