{% extends 'base.html' %}

{% block contenido %}
  <div>
    <h1>Lista de autores</h1>
    <form action="{% url 'autor_lista' %}" method="get">
      <input type="text" name="busqueda" placeholder="Nombre del autor"
             {% if busqueda %}value="{{ busqueda }}"{% endif %}>
      <button>buscar</button>
    </form>
  </div>
  <div>
    <p>Pagina actual: {{ pagina_actual }}</p>
    <ul>
      {% for autor in autores %}
        <li>
          <a href="{% url 'autor_editar' pk=autor.pk %}">
            {{ autor.id }} - {{ autor.nombre_completo }} - {{ autor.email }}
          </a>
          <form action="{% url 'autor_eliminar' pk=autor.id %}" method="post"
                style="display: inline-block; margin-left: 5px">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    {% if autores.has_previous %}
      <a href="{% url 'autor_lista' %}?page={{ autores.previous_page_number }}{% comment %}
  {% endcomment %}&busqueda={{ busqueda }}"><</a>
    {% endif %}

    {% for pagina in paginador.page_range %}
      <a href="{% url 'autor_lista' %}?page={{ pagina }}{% comment %}
  {% endcomment %}&busqueda={{ busqueda }}">{{ pagina }}</a>
    {% endfor %}

    {% if autores.has_next %}
      <a href="{% url 'autor_lista' %}?page={{ autores.next_page_number }}{% comment %}
  {% endcomment %}&busqueda={{ busqueda }}">></a>
    {% endif %}
  </div>
{% endblock %}