<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar libro</title>
</head>
<body>
<h1>{{ libro.id }} - {{ libro.titulo }} - {{ libro.autor.nombre_completo }}</h1>
<form action="{% url 'libro_editar' pk=libro.pk %}" method="post">
  {% csrf_token %}

  {% for field in form %}
    {{ field.label_tag }}
    {% for error in field.errors %}
      <p>{{ error }}</p>
    {% endfor %}
    <p>{{ field }}</p>
  {% endfor %}

  <p>
    <button>Editar libro</button>
  </p>
</form>
</body>
</html>