{% extends 'base.html' %}

{% block contenido %}
  <h1>Libros</h1>
  <a href="{% url 'libro_crear' %}">Crear un libro</a>
  <form action="{% url 'libro_lista' %}" method="get">
    <input type="text" name="busqueda" placeholder="Nombre del libro"
           {% if busqueda %}value="{{ busqueda }}"{% endif %}>
    <button>buscar</button>
  </form>
  <p>Pagina actual: {{ pagina_actual }}</p>
  <ul>
    {% for libro in libro_list %}
      <li>
        <a href="{% url 'libro_editar' pk=libro.id %}">
          {{ libro.id }} - {{ libro.titulo }}
          - {{ libro.autor.nombre_completo }}
        </a>
        <form action="{% url 'libro_eliminar' pk=libro.id %}" method="post"
              style="display: inline-block; margin-left: 5px">
          {% csrf_token %}
          <button type="submit">Eliminar</button>
        </form>
      </li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'libro_lista' %}?page={{ page_obj.previous_page_number }}{% comment %}
  {% endcomment %}&busqueda={{ busqueda }}"><</a>
    {% endif %}

    {% for pagina in paginator.page_range %}
      <a href="{% url 'libro_lista' %}?page={{ pagina }}{% comment %}
  {% endcomment %}&busqueda={{ busqueda }}">{{ pagina }}</a>
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="{% url 'libro_lista' %}?page={{ page_obj.next_page_number }}{% comment %}
  {% endcomment %}&busqueda={{ busqueda }}">></a>
    {% endif %}
  {% endif %}
{% endblock %}