<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mostrar hola mundo</title>
</head>
<body>
<h1>Hola {{ nombre }}</h1>
<p>{{ parametro }}</p>
<ul>
  {% for elemento in mi_lista %}
    <li>{{ elemento }}</li>
  {% endfor %}
</ul>
</body>
</html>