<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión en mi proyecto</title>
</head>
<body>
<h1>Iniciar sesión</h1>
<form action="{% url 'login_a_mano' %}" method="post">
  {% csrf_token %}

  {% for error in form.non_field_errors %}
    <p style="color: red; font-size: 13px">
      {{ error }}
    </p>
  {% endfor %}

  {% for field in form %}
    {{ field.label_tag }}
    {{ field.errors }}
    {% for error in field.errors %}
      <p style="color: red; font-size: 13px">
        {{ error }}
      </p>
    {% endfor %}

    <p>{{ field }}</p>
  {% endfor %}

  <p>
    <button type="submit">Iniciar sesión</button>
  </p>
</form>
</body>
</html>